<div class="row justify-content-center">

  <form class="col-lg-8 bg-dark p-3 rounded-sm login-form">
    <div class="form-group justify-content-center">
      <label for="exampleInputEmail1" class="text-light">Email address</label>
      <input
        type="email-login"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
      />
      <small id="emailHelp" class="form-text text-muted">We'll never share your
        email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password-login" class="text-light">Password</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <button type="submit" class="btn btn-primary mr-3">Submit</button>
    <a href="/signup" class="text-info">Create an Account Instead</a>
  </form>

</div>