<div class="row justify-content-center">

  <form class="col-lg-8 bg-dark p-3 rounded-sm post-form">
    <div class="mb-3">
      <label
        for="formGroupExampleInput"
        class="form-label text-light"
      >Title</label>
      <input type="text" class="form-control" id="post-title" />
    </div>
    <div class="mb-3">
      <label
        for="formGroupExampleInput2"
        class="form-label text-light"
      >Content</label>
      <textarea
        type="text"
        class="form-control"
        id="post-text"
        rows="4"
        cols="50"
      ></textarea>
    </div>
    <div class="d-grid gap-2">
      <submit class="btn btn-primary" type="button">Submit</submit>
    </div>
  </form>

</div>